.*
!.gitignore
!.gitmodules
!.gitattributes

__pycache__/
*.pyc
*.pyo
*.pyd

_cmake_deps/

compression_test/


smartsim_experiments/

*benchmark_giant_mlp*.pt
*benchmark_giant_mlp*.pb
*benchmark_giant_mlp*.onnx